/* This CSS file is for the We Offer Services On section in index.html section */

.socialmedia_content:hover {
  background-color: rgb(127, 131, 136) !important;
  transition: 700ms;
}

.socialmedia_rightleft {
  height: 100px;
  margin-bottom: 20px;
  animation-name: rightleft;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes rightleft {
  0% {margin-left: -50px;}
  50% {margin-left: 50px;}
  100% {margin-left: -50px;}
}

.socialmedia_leftright {
  height: 100px;
  margin-bottom: 20px;
  animation-name: leftright;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes leftright {
  0% {margin-right: -50px;}
  50% {margin-right: 50px;}
  100% {margin-right: -50px;}
}

.socialmedia_updown {
  height: 100px;
  margin-bottom: 20px;
  animation-name: updown;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes updown {
  0% {padding-top: -50px;}
  50% {padding-top: 50px;}
  100% {padding-top: -50px;}
}
